# Dependencies
node_modules

# Build
dist
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
chromadb/
chroma/
*.sqlite
*.db
# Env
.env
.env.local
.env.*.local

# Python
.venv/
venv/
__pycache__/
*.pyc
